<div class="is-flex is-flex-direction-column">
  {{! Title }}
  <h6 class="title is-6 mb-3">
    {{if @result.title @result.title "Geen titel"}}
  </h6>
  {{! Tags }}
  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
    {{#if @result.administrativeUnit}}
      <span class="tag icon-text is-warning is-light mr-2">
        <span class="icon" {{render-feather-icons}}>
          <i data-feather="map-pin" height="1rem"></i>
        </span>
        <span>
          {{@result.administrativeUnit}}
        </span>
      </span>
    {{/if}}
    {{#if @result.governingBodyClassification}}
      <span class="tag icon-text is-light is-light mr-2">
        {{!-- <span class="icon" {{render-feather-icons}}>
          <i data-feather="pen-tool" height="1rem"></i>
        </span> --}}
        <span>
          {{@result.governingBodyClassification}}
        </span>
      </span>
    {{/if}}
    {{! Empty roperties warning tags }}
    {{#if this.numberOfEmptyProperties}}
      <span class="tag icon-text is-light mr-2">
        <span class="icon has-text-danger" {{render-feather-icons}}>
          <i data-feather="alert-triangle" height="1rem"></i>
        </span>
        <span>
          <strong>
            {{this.numberOfEmptyProperties}}
          </strong>
          {{pluralize
            this.numberOfEmptyProperties
            "ontbrekend attribuut"
            "ontbrekende attributen"
          }}
        </span>
      </span>
    {{/if}}
  </div>
  {{! Description }}
  {{#if (and @result.description (not-eq @result.description @result.title))}}
    <p class="content is-italic">
      {{@result.description}}
    </p>
  {{/if}}
  {{! Date }}
  <div class="mt-2">
    <span class="icon-text is-light mr-2">
      <span class="icon" {{render-feather-icons}}>
        <i data-feather="calendar" height="1rem"></i>
      </span>
      {{#if (not (or @result.zittingPlannedStart @result.zittingStartedAtTime))
      }}
        <p>
          Geen datum bekend.
        </p>
      {{else}}
        <span>
          {{#if @result.zittingStartedAtTime}}
            {{date-format @result.zittingStartedAtTime}}
          {{else if @result.zittingPlannedStart}}
            <span>
              {{date-format @result.zittingPlannedStart}}
            </span>
            (gepland)
          {{/if}}
        </span>
      {{/if}}
    </span>
  </div>
  {{! Links }}
  <div class="mt-2 is-flex is-flex-direction-row">
    <a href={{@result.uri}} class="mr-2">
      Agendapunt
    </a>
    {{#if @result.zittingURI}}
      <span class="mr-2">
        -
      </span>
      <a href={{@result.zittingURI}} class="mr-2">
        Zitting
      </a>
    {{/if}}
  </div>
</div>