<div ...attributes id="zoekFilters">
  {{! Zoekterm }}
  <div class="field block">
    <label id="zoekterm-label" class="label">
      Zoekterm
    </label>
    <div id="zoekterm" class="control">
      <input
        class="input"
        placeholder="Wilgenlaan, sport, kerkfabriek, ..."
        aria-labbeledBy="zoekterm-label"
        type="text"
        value={{@currentState.search}}
        {{on "input" (fn this.updateRootDebounced "search")}}
      />
    </div>
  </div>

  <div class="block">
    <PowerSelectMultiple
      @onChange={{this.updateAdministrativeUnits}}
      @selected={{this.selectedAdministrativeUnits}}
      @options={{this.administrativeUnits}} as |unit|
    >
      {{unit}}
    </PowerSelectMultiple>
  </div>

  {{! Has-relation Filter Group }}
  <div class="block">
    <p id="has-relation-filter-group" class="label">
      Heeft relatie
    </p>
    {{#each-in this.ENTITIES as |id entity|}}
      {{#unless (eq entity.rootAttribute "root")}}
        <Zoek::Filter::HasRelationCheckbox
          @label={{capitalize entity.nameShort}}
          checked={{get @fields.has entity.rootAttribute}}
          {{on "input" (fn this.updateHas entity.rootAttribute)}}
        />
      {{/unless}}
    {{/each-in}}
  </div>

  {{! Has-attribute Filter Group}}
  <div class="block">
    <p id="has-attribute-filter-group" class="label">
      Heeft attribuut
    </p>
    {{#each-in this.ENTITIES as |enitityId entity|}}
      {{#let
        (eq entity.rootAttribute "root")
        (eq entity.arity "multiple") as |isRoot isMultipleArity|
      }}
        {{#unless (or isRoot isMultipleArity)}}
          <p
            id="has-attribute-zitting-filter-group"
            class="label is-small mt-2"
          >
            {{capitalize entity.nameShort}}
          </p>
        {{/unless}}

        {{#each-in this.AGENDA_POINT_ATTRIBUTES as |attributeId attribute|}}
          {{#if
            (and
              (eq attribute.entity enitityId)
              (not (eq attribute.filter.has.displayAsAttribute false))
            )
          }}
            <Zoek::Filter::HasAttributeCheckbox
              @label={{capitalize attribute.filter.has.name}}
              checked={{get @fields.has attributeId}}
              {{on "input" (fn this.updateHas attributeId)}}
            />
          {{/if}}
        {{/each-in}}
      {{/let}}
    {{/each-in}}
  </div>
</div>