<p>
  Dit is een zoekresultaat
  {{@result.uri}}
  {{@result.administrativeUnit}}
  {{@result.administrativeUnitClassification}}
  {{@result.administrativeUnitClassificationURI}}
  {{@result.​​​administrativeUnitURI}}
  {{@result.​​​description}}
  {{@result.​​​governingBody}}
  {{@result.​​​governingBodyClassification}}
  {{@result.​​​governingBodyClassificationURI}}
  {{@result.​​​governingBodyURI}}
  {{@result.​​​id}}
  {{@result.​​​title}}
  {{@result.​​​uri}}
  {{@result.​​​uuid}}
  {{@result.​​​zittingPlannedStart}}
  {{@result.​​​zittingStartedAtTime}}
  {{@result.​​​zittingURI}}
</p>