<div ...attributes id="zoekFilters">
  {{! Zoekterm }}
  <div class="field block">
    <label id="zoekterm-label" class="label">
      Zoekterm
    </label>
    <div id="zoekterm" class="control">
      <input
        class="input"
        placeholder="Wilgenlaan, sport, kerkfabriek, ..."
        aria-labbeledBy="zoekterm-label"
        type="text"
        value={{@fields.zoekterm}}
        {{on "input" (fn this.updatePropertyDebounced "zoekterm")}}
      />
    </div>
  </div>

  {{! Has-relation Filter Group }}
  <div class="block">
    <p id="has-relation-filter-group" class="label">
      Heeft relatie
    </p>

    <div class="field is-grouped-multiline">
      <label class="checkbox control" id="has-zitting-label">
        <input
          aria-labelledby="has-relation-filter-group has-zitting-label"
          type="checkbox"
          checked={{@fields.hasZitting}}
          {{on "input" (fn this.updatePropertyChecked "hasZitting")}}
        />
        Zitting
      </label>

      <label class="checkbox control" id="has-handling-label">
        <input
          aria-labelledby="has-relation-filter-group has-handling-label"
          type="checkbox"
          checked={{@fields.hasHandling}}
          {{on "input" (fn this.updatePropertyChecked "hasHandling")}}
        />
        Behandeling
      </label>
    </div>
  </div>
</div>