<div ...attributes id="zoekFilters">
  {{! Zoekterm }}
  <div class="field block">
    <label id="zoekterm-label" class="label">
      Zoekterm
    </label>
    <div id="zoekterm" class="control">
      <input
        class="input"
        placeholder="Wilgenlaan, sport, kerkfabriek, ..."
        aria-labbeledBy="zoekterm-label"
        type="text"
        value={{@currentState.search}}
        {{on "input" this.updateSearch}}
      />
    </div>
  </div>

  <div class="block">
    <label class="label">
      Bestuurseenheid
    </label>
    <Zoek::Filter::AdministrativeUnitSelect
      @selected={{this.selectedAdministrativeUnits}}
      @onSelectionChange={{this.updateAdministrativeUnits}}
    />
  </div>

  <Zoek::Filter::HasAttributeGroup
    @currentState={{@currentState.has}}
    @update={{fn this.update "has"}}
  />
</div>