<Tag @icon={{@icon}}>
  {{@count}}
  {{pluralize @count @nameSingluar @namePlural}}
  {{#if @hasMandatarissen}}
    <EmberPopover @side="bottom" as |popover|>
      <div class="content">
        <ul>
          {{#each @personen as |persoon|}}
            <li>{{displayName persoon}}</li>
          {{else}}
            <i>Geen {{@namePlural}}</i>
          {{/each}}
        </ul>
        <button
          class="button is-small"
          type="button"
          {{action "hide" target=popover}}
          {{! template-lint-disable no-action }}
        >
          Verberg
        </button>
      </div>
    </EmberPopover>
  {{/if}}
</Tag>
