<div ...attributes class="is-flex is-flex-direction-row">
  <a href={{@result.uri}} class="mr-2">
    Agendapunt
  </a>

  {{! Zitting }}
  {{#if @result.zitting}}
    <span class="mr-2">
      -
    </span>
    <span class="mr-2">
      <a href={{@result.zitting.uri}}>
        Zitting
      </a>

      {{!prettier-ignore}}
      <ItemListHorizontal
        @sep=", "
        @embrace={{array "(" ")"}}
        @items={{
          array
          (if @result.zitting.notulenURI (hash link=@result.zitting.notulenURI name="notulen"))
          (if @result.zitting.verslagURI (hash link=@result.zitting.verslagURI name="verslag"))
        }} as |item|
      ><a href={{item.link}}>{{item.name}}</a></ItemListHorizontal>
    </span>
  {{/if}}

  {{! Behandeling }}
  {{#if @result.agendaItemHandling}}
    <span class="mr-2">
      -
    </span>
    <span class="mr-2">
      <a href={{@result.agendaItemHandling.uri}}>
        Behandeling
      </a>
      {{! prettier-ignore }}
      <ItemListHorizontal
        @sep=", "
        @embrace={{array "(" ")"}}
        @items={{this.resolutions}} as |item|
      ><a href={{item.link}}>besluit{{if item.index (concat " " item.index)}}</a></ItemListHorizontal>
    </span>
  {{/if}}
</div>