<div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
  {{#if @result.session.administrativeUnit}}
      <Tag @icon='map-pin'>
        {{@result.session.administrativeUnit.label}}
        {{#if @result.session.administrativeUnit.classification}}
          ({{@result.session.administrativeUnit.classification}})
        {{/if}}
      </Tag>
  {{/if}}
  {{#if @advanced}}
    {{#if @result.session.governingBody.classification}}
      <Tag @icon=''>
        {{@result.session.governingBody.classification}}
      </Tag>
    {{/if}}
    {{! Empty attributes warning tags }}
    <Search::Result::AttributeTag class="mr-2 mb-1" @result={{@result}} />
    <Search::Result::AttributeTag
      class="mr-2 mb-1"
      @entity="session"
      @entityName="zitting"
      @result={{@result}}
    />
    <Search::Result::AttributeTag
      class="mr-2 mb-1"
      @entity="agendaItemHandling"
      @entityName="behandeling"
      @result={{@result}}
    />
  {{/if}}
</div>
