{{#let
  (pluralize
    this.numberOfAttrsMissing "ontbrekend attribuut" "ontbrekende attributen"
  ) as |missingAttributesText|
}}
  <span ...attributes class="tag icon-text is-light">
    <span class="icon {{this.iconColor}}" {{render-feather-icons}}>
      <i data-feather="{{this.icon}}" height="1rem"></i>
    </span>
    <span>
      {{#if this.displayEntityName}}
        {{#if (and this.isNested (not this.isNestedPresent))}}
          Geen {{@entityName}}
        {{else}}
          {{capitalize @entityName}}
        {{/if}}
      {{/if}}

      {{#if this.displayNumberOfMissingAttrs}}
        {{! prettier-ignore }}
        {{#if this.isNested}}
          (<strong>{{this.numberOfAttrsMissing}}</strong> {{missingAttributesText}})
        {{else}}
          <strong>
            {{this.numberOfAttrsMissing}}
          </strong>
          {{missingAttributesText}}
        {{/if}}
      {{/if}}
    </span>

    <EmberPopover @side="bottom" as |popover|>
      <div class="block">
        <h6 class="has-text-weight-bold">
          Attributen
        </h6>
        <ul>
          {{#each this.attributes as |attribute|}}
            {{#unless attribute.optional}}
              <li>
                <span
                  class="icon-text {{
                    if attribute.missing "has-text-danger" "has-text-success"
                  }}"
                >
                  <span class="icon" {{render-feather-icons}}>
                    <i
                      data-feather={{if attribute.missing "x" "check"}}
                      height="1rem"
                    ></i>
                  </span>
                  <span>
                    {{capitalize attribute.description}}
                  </span>
                </span>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div class="block">
        <h6 class="has-text-weight-bold">
          Optionele attributen
        </h6>
        <ul>
          {{#each this.attributes as |attribute|}}
            {{#if attribute.optional}}
              <li>
                <span
                  class="icon-text {{
                    if attribute.missing "has-text-danger" "has-text-success"
                  }}"
                >
                  <span class="icon" {{render-feather-icons}}>
                    <i
                      data-feather={{if attribute.missing "x" "check"}}
                      height="1rem"
                    ></i>
                  </span>
                  <span>
                    {{capitalize attribute.description}}
                  </span>
                </span>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

      <button
        class="button is-small"
        type="button"
        {{action "hide" target=popover}}
        {{! template-lint-disable no-action }}
      >
        Verberg
      </button>
    </EmberPopover>
  </span>
{{/let}}