<label class="checkbox is-flex is-align-items-center">
  <XToggle
    @theme="ios"
    @size="small"
    @value={{this.advancedFilters}}
    @onToggle={{this.setAdvancedFilters}}
  />
  Geavanceerde filters
</label>

{{#if this.advancedFilters}}
  <SubscriptionFilter::ConstraintPicker
    @filter={{@filter}}
  />
{{else}}
  Kies je gemeente:
  <SingleGovernanceAreaSelect @onSelect={{this.changeSelectedGovernanceArea}} />
{{/if}}