<nav class="panel">
  <p class="panel-heading">
    <div class="columns is-justify-content-space-between">
      {{this.title}}

      <p class="is-size-6">
        <XToggle
          @theme="ios"
          @size="small"
          @value={{this.advancedFilters}}
          @offLabel="Toon geavanceerde filters"
          @onLabel=""
          @showLabels={{true}}
          @onToggle={{this.setAdvancedFilters}}
          @disabled={{this.containsAdvancedFilters}}
        />
      </p>
    </div>
  </p>
  {{#if this.advancedFilters}}
    <SubscriptionFilter::ConstraintPicker @filter={{@filter}} @isChild={{false}}/>
  {{else}}
    <div class="panel-block">
      <label class="label" for="governance-area-select">Kies je gemeente(s):</label>
      <div class="control">
        <Search::Filter::GovernanceAreaSelect
          id="governance-area-select"
          @onSelectionChange={{this.changeSelectedGovernanceAreas}}
          @selected={{this.selectedGovernanceAreas}}
        />
      </div>
    </div>
  {{/if}}
  <div class="panel-block">
    <button
      class="button is-success"
      {{on "click" this.saveFilter}}
    >Opslaan</button>
    {{#if @allowDelete}}
      <button
        class="button is-danger"
        {{on "click" this.deleteFilter}}
      >Verwijderen</button>
    {{/if}}
  </div>
</nav>
