<div ...attributes id="search-filters">
  <Search::Filter::ControlBar
    id="search-filters-control-bar-bottom"
    @onResetFilters={{@resetFilters}}
    @onSaveFilters={{this.saveFilters}}
  />

  <div id="search-filters-fields">
    <div id="search-filters-basic">
      {{! Searchterm }}
      <div class="field block">
        <label id="searchterm-label" class="label">
          Zoekterm
        </label>
        <div id="searchterm" class="control">
          <input
            class="input"
            placeholder="Wilgenlaan, sport, kerkfabriek, ..."
            aria-labbeledBy="searchterm-label"
            type="text"
            value={{@currentState.search}}
            {{on "input" this.updateSearch}}
          />
        </div>
      </div>

      {{! Werkingsgebied }}
      {{#unless @currentState.embedded.isEmbedded}}
        <div class="block">
          <label class="label">
            Werkingsgebied
          </label>
          <Search::Filter::GovernanceAreaSelect
            @selected={{this.selectedGovernanceAreas}}
            @onSelectionChange={{this.updateGovernanceAreas}}
          />
        </div>
      {{/unless}}
    </div>

    <div id="search-filters-advanced">
      <label class="checkbox is-flex is-align-items-center">
        <span class="title is-5 mb-0">
          Geavanceerd
        </span>
        <XToggle
          @theme="ios"
          @size="small"
          @value={{@currentState.advanced}}
          @onToggle={{fn this.update "advanced"}}
        />
      </label>
      {{#if @currentState.advanced}}
        {{! Advanced filters }}
        <div class="mt-2">
          <div class="block">
            <label class="label">
              Bestuurseenheid
            </label>
            <Search::Filter::AdministrativeUnitSelect
              @selected={{this.selectedAdministrativeUnits}}
              @onSelectionChange={{this.updateAdministrativeUnits}}
            />
          </div>

          <Search::Filter::IsHandledToggles
            class="block"
            @currentState={{@currentState.isHandled}}
            @update={{fn this.update "isHandled"}}
          />

          <Search::Filter::HasAttributeGroup
            class="block"
            @currentState={{@currentState.has}}
            @update={{fn this.update "has"}}
          />
        </div>
      {{/if}}
    </div>
  </div>
</div>
