<div class="is-flex is-flex-direction-column">
  {{! Title }}
  <h6 class="title is-6 mb-3">
    {{if @result.title @result.title "Geen titel"}}
  </h6>

  {{! Tags }}
  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
    {{#if @result.zitting.administrativeUnit}}
      <span class="tag icon-text is-light mr-2 mb-1">
        <span class="icon" {{render-feather-icons}}>
          <i data-feather="map-pin" height="1rem"></i>
        </span>
        <span>
          {{@result.zitting.administrativeUnit.label}}
        </span>
      </span>
    {{/if}}
    {{#if @result.zitting.governingBody.classification}}
      <span class="tag icon-text is-light mr-2 mb-1">
        {{!-- <span class="icon" {{render-feather-icons}}>
          <i data-feather="pen-tool" height="1rem"></i>
        </span> --}}
        <span>
          {{@result.zitting.governingBody.classification}}
        </span>
      </span>
    {{/if}}
    {{! Empty attributes warning tags }}
    <Zoek::Resultaat::AttributeTag class="mr-2 mb-1" @result={{@result}} />
    <Zoek::Resultaat::AttributeTag
      class="mr-2 mb-1"
      @entity="zitting"
      @entityName="zitting"
      @result={{@result}}
    />
    <Zoek::Resultaat::AttributeTag
      class="mr-2 mb-1"
      @entity="agendaItemHandling"
      @entityName="behandeling"
      @result={{@result}}
    />
  </div>

  {{! Description }}
  {{#if (and @result.description (not-eq @result.description @result.title))}}
    <p class="content is-italic">
      {{@result.description}}
    </p>
  {{/if}}

  {{! Date }}
  <div class="mt-2">
    <span class="icon-text is-light mr-2">
      <span class="icon" {{render-feather-icons}}>
        <i data-feather="calendar" height="1rem"></i>
      </span>
      {{#if
        (not (or @result.zitting.plannedStart @result.zitting.startedAtTime))
      }}
        <p>
          Geen datum bekend.
        </p>
      {{else}}
        <span>
          {{#if @result.zitting.startedAtTime}}
            {{date-format @result.zitting.startedAtTime}}
          {{else if @result.zitting.plannedStart}}
            <span>
              {{date-format @result.zitting.plannedStart}}
            </span>
            (gepland)
          {{/if}}
        </span>
      {{/if}}
    </span>
  </div>

  {{! Links }}
  <Zoek::Resultaat::LinkList class="mt-2" @result={{@result}} />
</div>