<div class="is-flex is-flex-direction-column">
  {{! Title }}
  <Search::Result::Title
    @title={{@result.title}}
    @highlight={{@highlight.title}}
    @id={{@result.id}}
  />

  {{! Tags }}
  <Search::Result::TagList @result={{@result}} @advanced={{@advanced}} />

  {{#if (and @result.description (not this.descriptionEqualToTitle))}}
    <Search::Result::Description
      @description={{@result.description}}
      @highlight={{@highlight.description}}
    />
  {{/if}}

  {{! Date }}
  <div class="mt-2">
    <Search::Result::Date @result={{@result}} />
  </div>

  {{! Match Preview }}
  {{#if @highlight}}
    <div class="mt-2">
      <Search::Result::MatchPreviews
        @result={{@result}}
        @highlight={{@highlight}}
      />
    </div>
  {{/if}}

  {{#if @advanced}}
    {{! Links }}
    <Search::Result::LinkList class="mt-2" @result={{@result}} />
  {{/if}}
</div>
