<div class="is-flex is-flex-direction-column">
  {{! Title }}
  <Search::Result::Title
    @title={{@result.title}}
    @highlight={{@highlight.title}}
  />

  {{! Tags }}
  <Search::Result::TagList @result={{@result}} />

  {{#if (and @result.description (not this.descriptionEqualsTitle))}}
    <Search::Result::Description
      @description={{@result.description}}
      @highlight={{@highlight.description}}
    />
  {{/if}}

  {{! Date }}
  <div class="mt-2">
    <Search::Result::Date @result={{@result}} />
  </div>

  {{! Links }}
  <Search::Result::LinkList class="mt-2" @result={{@result}} />
</div>