<Navbar />

<div class="section">
  <h3 class="title is-3">
    {{default-value @model.titel "Agendapunt zonder titel"}}
  </h3>

  {{#if @model.zitting}}
    <ZittingTags @zitting={{@model.zitting}} @showAanwezigen={{false}} />
  {{else}}
    <Tag @icon="help-circle">
      Zitting onbekend
    </Tag>
  {{/if}}

  {{#if @model.behandeling}}
    <AanwezigenTags @model={{@model.behandeling}} />
  {{/if}}

  <div class="content">
    {{default-value @model.beschrijving "Geen beschrijving"}}
  </div>

  {{#if @model.behandeling.besluiten}}
      <h4 class="title is-4">
        {{pluralize (length @model.behandeling.besluiten) "Besluit" "Besluiten"}}
      </h4>

    {{#each @model.behandeling.besluiten as |besluit|}}
      <h5 class="subtitle is-5">{{{ htmlize besluit.beschrijving }}}</h5>
      <div class="content">
          {{{ htmlize besluit.motivering.content }}}
      </div>
    {{/each}}
  {{/if}}

  {{! ----- Navigation ----- }}
  {{#if @model.vorigeAgendapunt}}
    <LinkTo @route="agendapunt" @model={{@model.vorigeAgendapunt}}>
      <Tag @icon="chevron-left">
        Vorig agendapunt
      </Tag>
    </LinkTo>
  {{/if}}

  {{#if @model.zitting}}
    {{! I'm using @model.zitting.id instead of @model.zitting as the latter gave undefined as model...}}
    <LinkTo @route="zitting" @model={{@model.zitting.id}}>
      <Tag @icon="chevron-up">
        Naar zitting
      </Tag>
    </LinkTo>
  {{/if}}

  {{#if @model.volgendAgendapunt}}
    <LinkTo @route="agendapunt" @model={{@model.volgendAgendapunt}}>
      <Tag @icon="chevron-right">
        Volgend agendapunt
      </Tag>
    </LinkTo>
  {{/if}}
</div>
