{{page-title "Mijn abonnementen"}}
<Navbar />

<section class="section">
  <h3 class="title is-3"> Abonnementen aanpassen </h3>
  <p class="subtitle is-5"> Hieronder kan je abonnement-instellingen aanpassen
  of verwijderen. </p>

  {{#each @model as |filter idx|}}
   <SubscriptionFilter::Filter
     @filter={{filter}}
     @title="Abonnement {{inc idx}}"
     @allowDelete={{true}}
     @requireEmail={{false}}
    />
  {{else}}
    <i> U hebt geen notificaties ingesteld. </i>
  {{/each}}
</section>
