{{page-title "Blijf op de hoogte"}}
<Navbar />

<main>
  <section class="section">
    <h3 class="title is-3">
      Blijf op de hoogte!
    </h3>
    <p class="subtitle is-5">
      Schrijf je in om de laatste nieuwe agendapunten in je mailbox te ontvangen.
    </p>
  </section>

  <section class="section">
    <form>
      <div class="columns">
        <div class="column">
          <div class="content">
            <div class="control">
              <label for="email-input" class="label">
                E-mail adres:
              </label>

              <input
                id="email-input"
                class="input"
                placeholder="mijn@email.be"
                type="email"
                required
                {{on "input" this.updateEmail}}
              />

              {{#if this.errors.email}}
                <p class="help is-danger">{{this.errors.email}}</p>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <label for="frequency-input" class="label">
              Hoe vaak wil je (maximaal) mails ontvangen?
            </label>
            <div class="control">

              <PowerSelect
                id="frequency-input"
                class="select"
                @loadingMessage="Aan het laden..."
                @onChange={{this.changeFrequency}}
                @selected={{this.frequency}}
                @options={{this.frequencies}}
                as |frequency|
              >
                {{frequency}}
              </PowerSelect>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <SubscriptionFilter::Filter
          @filter={{@model}}
          @allowDelete={{false}}
          @requireEmail={{true}}
          @setErrors={{this.setErrors}}
        />
      </div>
    </form>
  </section>
</main>
