<Navbar />

<section class="section">

  <h2 class="title is-2">Zitting</h2>

  <ZittingTags @zitting={{@model.zitting}} @showAanwezigen={{true}}/>

  <h3 class="title is-3">Agendapunten</h3>
  <div class="content">
    <ul>
      {{#each @model.zitting.agendapunten as |agendapunt|}}
        <li><LinkTo @route="agendapunt" @model={{agendapunt}}>
            {{default-value agendapunt.titel "Agendapunt zonder titel"}}
          </LinkTo></li>
      {{else}}
        <li><i>Agendapunten (nog) niet bekend</i></li>
      {{/each}}
    </ul>
  </div>
</section>
