<div class="columns px-5 py-4">
  {{! Filter }}
  <div class="column is-one-quarter-desktop is-one-third-tablet">
    <Zoek::ZoekFilter
      @updateFilters={{this.updateFilters}}
      @fields={{this.filterFields}}
    />
  </div>

  <div class="column">
    {{! Top Bar (with pagination and sort)}}
    <div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
      <PaginationLabel
        class="my-2 mr-4"
        @pagination={{this.model.meta.pagination}}
        @count={{this.model.meta.count}}
      />
      <Pagination
        class="my-2 mr-4"
        @pagination={{this.model.meta.pagination}}
      />
      <SortButton
        class="my-2"
        @options={{this.SORT_OPTIONS}}
        @currentlySelected={{this.currentSortOption}}
        @onSelected={{this.updateSort}}
      />
    </div>

    <hr class="mt-1" />

    {{! Results }}
    {{#each this.model.content as |result|}}
      <div class="block">
        <Zoek::ZoekResultaat @result={{result}} />
        <hr />
      </div>
    {{/each}}
  </div>
</div>
{{outlet}}