<div class="columns px-5 py-4">
  {{! Filter }}
  <div class="column is-one-quarter-desktop is-one-third-tablet">
    <Zoek::ZoekFilter
      @updateFilters={{this.updateFilters}}
      @fields={{this.filterFields}}
    />
  </div>

  <div class="column">
    {{! Top control bar }}
    <Zoek::ResultControlBar
      @pagination={{this.model.meta.pagination}}
      @count={{this.model.meta.count}}
      @sortOptions={{this.SORT_OPTIONS}}
      @currentSortOption={{this.currentSortOption}}
      @updateSort={{this.updateSort}}
    />

    <hr class="mt-1" />

    {{! Results }}
    {{#each this.model.content as |result|}}
      <div class="block">
        <Zoek::ZoekResultaat @result={{result}} />

        {{! Bottom border, don't render on last item, use EmberArray stuff }}
        {{#unless (eq result this.model.content.lastObject)}}
          <hr />
        {{/unless}}
      </div>
    {{/each}}

    {{! Bottom control bar }}
    {{#if this.model.content}}
      <hr class="mb-1" />
      <Zoek::ResultControlBar
        @pagination={{this.model.meta.pagination}}
        @count={{this.model.meta.count}}
        @sortOptions={{this.SORT_OPTIONS}}
        @currentSortOption={{this.currentSortOption}}
        @updateSort={{this.updateSort}}
      />
    {{/if}}
  </div>
</div>
{{outlet}}