<main id="main-search">
  <div id="main-search-columns" class="columns">
    {{! Left column - Filter}}
    <div id="column-left-filters" class="column">
      <Zoek::ZoekFilter
        id="filters"
        @updateFilters={{this.updateFilters}}
        @resetFilters={{this.resetFilters}}
        @currentState={{this.qsm.state}}
      />
    </div>

    {{! Right column - Control + Results}}
    <div id="column-right-results" class="column">
      {{! Top control bar }}
      <Zoek::ResultControlBar
        id="zoek-control-bar-top"
        @pagination={{this.model.meta.pagination}}
        @count={{this.model.meta.count}}
        @sortOptions={{this.SORT_OPTIONS}}
        @currentSortOption={{this.currentSortOption}}
        @updateSort={{this.updateSort}}
      />

      <div id="results">
        {{! Results }}
        {{#each this.model.content as |result|}}
          <div class="block">
            <Zoek::ZoekResultaat @result={{result}} />
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>